*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
a, button, body, h1, h2, h3, h4, h5, h6 {
    color: rgb(218 218 219);
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
p{
    letter-spacing: 2pt;   /*字体间距*/
    word-spacing: -1pt;   /*字体空格间距*/
    line-height: 1.7;   /*行间距*/
}
img {
    max-width:100%;
}
.flex{
    display: flex;
}
.items{
    align-items: center;
}
.content{
    justify-content: space-between;
}
#main {
    margin: 15px;
}
.centered{
    max-width: 55rem;
    margin:3rem auto;
}
.header-info a{
    opacity: 0.8;
    font-size: 1.1em;
    text-decoration: none;
    transition-duration: .4s;
}
.header-info a:hover{
    opacity: 0.9;
    text-decoration: underline;
}
.header-info .link a{
    padding: 5px;
}
.header-info h1{
    font-size: 2.1em;
    line-height: 1.3;
}
.header-info small{
    font-size: 0.5em;
    padding: 10px;
    margin: 10px;
    background: black;
}
.header-info p {
    margin: 10px 0;
    font-size: 14px;
}
.header-info .font-fa {
    list-style: none;
}
.header-info .font-fa i{
    color:rgb(218 218 219);
    font-size: 1.4em;
    padding:0px 15px 0 0;
}
.list-post {
    margin-top: 1.5rem;
}
.list-post .post{
    margin-bottom: 1.5rem;
}
h2.entry_title {
    padding: 15px 0;
}
.entry_title span{
    color: rgb(169 0 0);
}
.entry_title a{
    text-decoration: none;
    transition-duration: .4s;
}
.entry_title a:hover{
    text-decoration: revert;
}
.entry_text {
    height: 55px;
    margin: 8px 0;
    color: rgb(155 156 157);
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.entry_data{
    color: rgb(155 156 157);
    font-size: 14px;
}
.entry_data a{
    color: rgb(155 156 157);
    text-decoration: none;
}
.entry_img img {
    opacity: 0.5;
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.header_img img{
    opacity: 0.5;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.post-centent p{
    margin: 20px;
    opacity: .8;
}
.post-centent img{
    opacity: .8;
    width: 100%;
    height:auto;
    object-fit: cover;
    border-radius: 4px;
}
.sm-emotion {
    max-height: 36px!important;
    max-width: 1.8em;
    margin: 5px 0;
    transition-duration: .4s;
}
.sm-emotion:hover {
    max-width: 2.4em;
    margin: 5px;
    transition-duration: .4s;
}
.post-centent a{
    text-decoration: none;
    transition-duration: .4s;
}
.post-centent a:hover{
    text-decoration: revert;
}
.breadcrumb {
    opacity: .7;
    padding: 20px;
    background: #101010;
    margin: 20px;
    border-radius: 4px;
    font-size: .4em;
    letter-spacing: 2pt;
    color: rgb(155 156 157);
    line-height: 1.6;
}
.breadcrumb div{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.breadcrumb a{
    padding: 20 0px;
    text-decoration: none;
}
.post-date a{
    opacity: .8;
    text-decoration: none;
}
.post-date {
    opacity: .7;
    margin:0 20px;
    font-size: .5em;
}
.post-title{
    opacity: .7;
    margin: 20px 20px;
    font-size: 1.4em;
}
#eof {
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
    margin: 2em auto;
    font-weight: 100;
    color: #c2c6cc;
    font-family: Microsoft Yahei, sans-serif;
}
#eof:before {
    content: '——';
    margin-right: 20px;
}
#eof:after {
    content: '——';
    margin-left: 20px;
}

.comment_xin {
    display: flex;
    flex: 1;
    padding: 8px 0;
}
.comment-inputs {
    display: flex;
    overflow: hidden;
    padding: 0 4px;
    border-bottom: 2px dashed rgb(221 221 221);
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
}
.comment_xin label {
    min-width: 40px;
    padding: .75em .5em;
    color:rgb(68 68 68);
    font-size: .75em;
    text-align: center;
}
.comment_xin input {
    flex: 1;
    width: 0;
    padding: .5em;
    background: rgba(0,0,0,0);
    font-size: .625em;
    resize: none;
    max-width: 100%;
    border: none;
    color: rgb(68 68 68);
    outline: none;
    transition: all .25s ease;
}
.comment-editor_box textarea {
    position: relative;
    width: calc(100% - 1em);
    min-height: 8.75em;
    margin: .75em .5em;
    border-radius: .5em;
    background: rgba(0,0,0,0);
    font-size: .875em;
    resize: vertical;
    max-width: 100%;
    border: none;
    color: rgb(68 68 68);
    padding: 5px;
    outline: none;
    transition: all .25s ease;
}
.comment_box {
    position: relative;
    flex-shrink: 1;
    opacity: 0.6;
    width: 100%;
    border-radius: .75em;
    margin-bottom: 20px;
    background: rgb(255 255 255);
}
.comment-huifu{
    padding: 10px;
}
#submitComment {
    background: rgb(39 174 96);
    color: rgb(255 255 255);
    display: inline-block;
    vertical-align: middle;
    min-width: 2.5em;
    margin-bottom: 0;
    padding: .5em 1em;
    border:1px solid rgb(221 221 221);
    border-radius: .5em;
    font-weight: 400;
    font-size: .75em;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition-duration: .4s;
    touch-action: manipulation;
}
.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2rem;
}
.comment_list_box {
    display: flex;
    flex: 1 1 auto;
    margin: 0 0 1.5rem;
}
.comment_list_avatar {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin-right: .9375rem;
    flex-shrink: 0;
    overflow: hidden;
}
.comment_list_avatar img {
    width: 100%;
    height: 100%;
}
.comment_main {
    flex: 1 1 auto;
}
.comment_author {
    font-weight: 500;
    font-size: 14px;
}
.comment_excerpt {
    font-size: 14px;
    line-height: 1.5;
    margin: .5rem 0;
    color: rgb(68 68 68);
    background-color: #f4f6fb;
    padding: .5rem .75rem;
    border-radius: 2px;
    opacity: 0.7;
    word-wrap: break-word;
}
.comment_excerpt p {
    line-height: inherit;
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
}
.comment_meta {
    font-size: 12px;
}
.text-primary{
    padding:0 5px;
    
}
.comment_main a{
    text-decoration: none;
}
#cancel-comment-reply-link {
    display: inline !important;
}
.comment_admin {
    color: #000;
    padding: 10px;
}
.comment_admin a{
    color: #000;
    text-decoration: none;
}

#nav {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    max-width: 55rem;
    margin: auto;
}
.navbar {
    background-color:rgb(16 16 16 / 69%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    transition: transform 0.5s ease, opacity 0.2s ease;
}
.navbar:hover{
    background-color:rgb(16 16 16 / 100%);
}
.list-item {
    text-decoration: none;
  list-style-type: none;
  flex-basis: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #555;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.2s ease;
  cursor: pointer;
}
.list-item i {
    font-size: 20px;
}
.list-item-name {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  transform: translate(0, 50px);
  transition: transform 0.5s ease, opacity 0.2s ease;
  opacity: 0;
}
.list-item:hover {
    color: rgb(218 218 219);
    transform: translateY(-6px);
}
.list-item:hover i {
    font-size: 16px;
    transition: transform 0.5s ease, opacity 0.2s ease;
}

.list-item:hover .list-item-name {
  transform: translateY(20px);
  opacity: 1;
}

.card:nth-child(odd) {
    float: left;
}
.card {
    width: 100%;
    font-size: 1rem;
    padding: 0 30px;
    border-radius: 1px;
    transition-duration: 0.15s;
    margin-bottom: 1rem;
    display: flex;
    opacity: 0.8;
    margin-bottom: 30px;
}
.card:hover{
    opacity: 1;
    padding:0 20px;
}
.card .ava {
    width: 3rem!important;
    height: 3rem!important;
    margin: 0!important;
    margin-right: 1em!important;
    border-radius: 4px;
}
.darkmode img {
    mix-blend-mode: difference;
    filter: grayscale(30%);
}
.card .card-header {
    font-style: italic;
    overflow: hidden;
    width: 100%;
}
.card .card-header a {
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.card .card-header .info {
    font-style: normal;
    color: #999;
    font-size: 13px;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0.7;
}
.card:hover .card-header .info{
    opacity: 1;
}

#footer{
    text-align: center;
    font-size: 0.4em;
}
#footer p{
    font-size: 0.4em;
}
.footer {
    margin-bottom: 100px;
}
@media (max-width: 768px){
    .post {
        padding: 0 0 45px;
        border-bottom: 1px solid rgb(46 46 46);
    }
    .entry_img{
        display: none;
    }
}
